.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 20%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas:
      "header"
      "body"
      "footer";
  }
  
.header {grid-area: header;
    position:fixed;
    background-color: aqua;
}

.footer { grid-area: footer; 
    background-color: red;
}
  
.body {  display: grid;
   grid-template-columns: 10% 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 0px 0px;
   grid-auto-flow: row;
   grid-template-areas:
    "menu main"
    "menu main"
    "menu main";
   grid-area: body;
  }
  
.menu { grid-area: menu; 
    background-color: green;
}
  
.main { grid-area: main; 
    background-color: purple;
}


.letragrande{
    font-size: 30px;
    text-align: center;

}
