body {
    margin: 0; 
    padding: 0;
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.dropdown-menu {
    color: white;
}

.letra-grande {
    font-size: 40px;
}

.letra-bold{
    font-weight: bold;
}

.letra-blanca{
    color:white;
}

.letra-negra{
    color:RGB(33,37,51);
}
.custom-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M3 12h10a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0-4h10a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0-4h10a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
}

.navbar-brand img {
    max-height: 40px;
    width: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.margenes{
    margin-left: 40px;
    margin-right: 40px;
}

#carouselExampleCaptions {
    margin-top: -1px; 
}

.carousel-caption {
    top: 80px;
    left: 100px;
    right: auto;
    bottom: auto;
    transform: none;
    padding: 20px;
}

.background-dorado{
    background-color: #9a8159;
}

.background-navbar{
    background-color: #212529;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-nosotros{
    max-width: 800px;
}

.imagen-derecha {
    width: 600px; 
    height: auto;  
    margin-bottom: 40px;
    margin-top: auto;
  }
  
.texto-imagen {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
  }

.top{
    position:relative;
    top: 20px;
}

.bottom{
    position: relative;
    bottom: 20px;
}

.letra-mediana{
    font-size: 20px;
}

.letra-xl{
    font-size: 80px;
}

.custom-btn {
    font-size: 40px; 
    padding: 15px 20px; 
}


.center-btn {
    display: block;
    margin: 0 auto;
}

.custom-caption {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.custom-caption2{
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.carousel-item:nth-child(2) img {
    height: 1268px; 
    width: auto; 
    max-width: 100%; 
}
.carousel-item:nth-child(3) img {
    height: 1268px; 
    width: auto; 
    max-width: 100%; 
}

.custom-caption3{
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    top: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #212529;
    color: white;
    text-align: center;
}

.bottom-lg{
    margin-bottom: 80px;
}

.top-lg{
    margin-top: 80px;
}

.sponsor-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-images img {
    margin: 0 20px; 
}



.carousel-item img {
    max-width: 100%;
    height: auto;
}


.texto-imagen img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 400px) {
    .container-fluid {
        padding-right: 5px;
        padding-left: 5px;
    }
}


@media (max-width: 400px) {
    .carousel-item img {
        max-height: 200px; 
        width: auto;
    }
}


@media (max-width: 400px) {
    .sponsor-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.sin-margin-derecho {
    margin-right: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    margin-top: auto; 
}

#eliminarCarrito {
    font-size: 14px; 
    padding: 6px 12px; 
}


@media (max-width: 400px) {
    #footer {
        position: relative; 
        margin-top: 20px; /* Ajustar la distancia entre el contenido y el footer */
    }

    #carrito {
        margin-bottom: 80px; /* Ajustar la distancia entre el carrito y el footer */
    }

    #eliminarCarrito {
        margin-top: 10px; /* Ajustar la distancia entre el botón de eliminar y el carrito */
        width: 100%; /* Hacer que el botón de eliminar ocupe todo el ancho */
    }
}
